.container{
    border: solid;
    width: 800px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    /* box-sizing: border-box; */
    justify-content: center;/*space-around /*space-between /*center flex-end flex-start;*/
    align-items: flex-start; /*center; /*flex-end /*flex-start;*/
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* align-content: center; */
}

.red,
.yellow,
.purple,
.blue,
.green
{
    width: 200px;
    height: 100px;
}
.red{
    background-color: red;
    /* flex-grow:3; */
    flex-shrink: 6;
    order:2;
}
.yellow{
    background-color: yellow;
    /* flex-grow:1; */
    flex-shrink: 1;
    order:1;
}
.purple{
    background-color: purple;
    /* flex-grow:1; */
    flex-shrink: 1;

}
.blue{
    background-color: blue;
    /* flex-grow:1; */
    flex-shrink: 1;
}
.green{
    background-color: green;
    /* flex-grow:4; */
    flex-shrink: 1;
     order:-1;
} 