
h1{
    text-align: center;
    width: 300px;
    border:inset;
    background-color: bisque;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 5px 5px 10px #000;
    margin-bottom: 50px;
}

a:link{
    background-color: crimson;
    color:#fff;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    border: outset;
}
a:visited{
    color: lime;
    background-color: darkgreen;
}
a:hover{
    background-color: #fff;
    color: #000;
    border: inset;
    box-shadow: inset 0 0 10px #000;
    border-radius: 10px;
}

a:active{
    background-color: #000;
    color: #fff;
    border-radius: 0;
}