
.light,
.dark{
    padding: 10px;
}
.light{
    background-color: bisque;
}
.dark{
    background-color: rgb(107, 64, 12);
    color:#fff;
}
.container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: minmax(50px, auto) minmax(100px, auto)  200px 300px;
    grid-column-gap: 15px;
    grid-row-gap: 30px;
    /* grid-auto-rows: minmax(70px,auto); */
    grid-gap: 10px 20px;
}
.container .dark:nth-of-type(8){
    background-color: blueviolet;
    width: 100px;
    justify-self:end;
    align-self: center;
   
}
.container .dark:nth-of-type(2){
    background-color: rgb(5, 70, 70);
    /* grid-column: 1/4;
    grid-row: 1; */
    grid-column: 1/span 2;
    grid-row: 1/span 2;
}